In [158]:
print("hola")

hola

In [159]:
import numpy as np
import pandas as pd

In [202]:
df = pd.read_csv('peliculas.csv', index_col=0)
df

     year               pelicula  premios  nominaciones            pais
id
1    1980        Ordinary People        4             6  Estados Unidos
2    1980            Raging Bull        2             8  Estados Unidos
3    1980                   Tess        3             6     Reino Unido
4    1980  Coal Miner's Daughter        1             7  Estados Unidos
5    1980       The Elephant Man        0             8     Reino Unido
..    ...                    ...      ...           ...             ...
531  2021         El agente topo        0             2           Chile
532  2021          Another Round        1             2       Dinamarca
533  2021                   Emma        0             2     Reino Unido
534  2021             Collective        0             2         Rumania
535  2021  Una joven prometedora        1             5     Reino Unido

[536 rows x 5 columns]

In [203]:
df.head()

    year               pelicula  premios  nominaciones            pais
id
1   1980        Ordinary People        4             6  Estados Unidos
2   1980            Raging Bull        2             8  Estados Unidos
3   1980                   Tess        3             6     Reino Unido
4   1980  Coal Miner's Daughter        1             7  Estados Unidos
5   1980       The Elephant Man        0             8     Reino Unido

In [204]:
df.tail(2)

     year               pelicula  premios  nominaciones         pais
id
534  2021             Collective        0             2      Rumania
535  2021  Una joven prometedora        1             5  Reino Unido

In [205]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 536 entries, 1 to 535
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   year          536 non-null    int64
 1   pelicula      536 non-null    object
 2   premios       536 non-null    int64
 3   nominaciones  536 non-null    int64
 4   pais          536 non-null    object
dtypes: int64(3), object(2)
memory usage: 25.1+ KB

In [206]:
df.shape

(536, 5)

In [208]:
#Manejo de duplicados
df = df.drop_duplicates()

In [209]:
df.shape

(490, 5)

In [210]:
#Manejo de valores vacios
df.isnull()

      year  pelicula  premios  nominaciones   pais
id
1    False     False    False         False  False
2    False     False    False         False  False
3    False     False    False         False  False
4    False     False    False         False  False
5    False     False    False         False  False
..     ...       ...      ...           ...    ...
530  False     False    False         False  False
531  False     False    False         False  False
532  False     False    False         False  False
533  False     False    False         False  False
534  False     False    False         False  False

[490 rows x 5 columns]

In [211]:
#Smar los valores vacios en cada registro
df.isnull().sum()

year            0
pelicula        0
premios         0
nominaciones    0
pais            0
dtype: int64

In [212]:
df2 = df.dropna()

In [213]:
df2.isnull().sum()

year            0
pelicula        0
premios         0
nominaciones    0
pais            0
dtype: int64

In [214]:
df2.shape

(490, 5)

In [216]:
# Guardar el dataframe depurado
df2.to_csv('peliculas_clean.csv', index=False)

In [ ]:
pip install psycopg2
pip install sqlalchemy

In [217]:
#ConexiÃ³n con Postgree
import psycopg2
from psycopg2 import OperationalError

def check_postgres_connection():
    try:
        connection = psycopg2.connect(
            user="postgres",
            password="cris2405",
            host="localhost",
            port="5432",
            database="proyecto"
        )

        print("ConexiÃ³n exitosa a PostgreSQL!")
        connection.close()
        
    except OperationalError as e:
        print(f"No se pudo conectar a PostgreSQL. Error: {e}")
check_postgres_connection()

ConexiÃ³n exitosa a PostgreSQL!

In [218]:
#EnvÃ­o del data frame limpio a postgree
from sqlalchemy import create_engine
dbname = 'proyecto'
user = 'postgres'
password = 'cris2405'
host = 'localhost'
port = '5432'

conn = psycopg2.connect(dbname=dbname, user=user, password=password, host=host, port=port)

engine = create_engine(f'postgresql://{user}:{password}@{host}:{port}/{dbname}')

table_name = 'oscar_awards'

df2.to_sql(table_name, engine, if_exists='replace', index=False)

conn.close()

In [219]:
# Definir las credenciales de la base de datos
dbname = 'proyecto'
user = 'postgres'
password = 'cris2405'
host = 'localhost'
port = '5432'

# Establecer la conexiÃ³n a la base de datos
conn = psycopg2.connect(dbname=dbname, user=user, password=password, host=host, port=port)

# Nombre de la tabla que deseas extraer
table_name = 'oscar_awards'

# Consulta SQL para seleccionar todos los datos de la tabla
query = f"SELECT * FROM {table_name}"

# Ejecutar la consulta y almacenar los resultados en un DataFrame de pandas
df = pd.read_sql_query(query, conn)

# Cerrar la conexiÃ³n a la base de datos
conn.close()

# Mostrar el DataFrame con los datos de la tabla
print(df)

     year                 pelicula  premios  nominaciones            pais
0    1980          Ordinary People        4             6  Estados Unidos
1    1980              Raging Bull        2             8  Estados Unidos
2    1980                     Tess        3             6     Reino Unido
3    1980    Coal Miner's Daughter        1             7  Estados Unidos
4    1980         The Elephant Man        0             8     Reino Unido
..    ...                      ...      ...           ...             ...
485  2021  Noticias del gran mundo        0             4  Estados Unidos
486  2021           El agente topo        0             2           Chile
487  2021            Another Round        1             2       Dinamarca
488  2021                     Emma        0             2     Reino Unido
489  2021               Collective        0             2         Rumania

[490 rows x 5 columns]

C:\Users\cusin\AppData\Local\Temp\ipykernel_17844\2491360183.py:18: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql_query(query, conn)

In [220]:
import pymongo

# Definir la URL de conexiÃ³n a MongoDB Atlas
mongo_uri = "mongodb+srv://shazam:shazam123456@proyecto1.g6uwmfh.mongodb.net/"

try:
    # Conectar con MongoDB Atlas
    client = pymongo.MongoClient(mongo_uri)
    print("ConexiÃ³n exitosa con MongoDB Atlas")
except Exception as e:
    print("Error al conectar con MongoDB Atlas:", e)
finally:
    # Cerrar la conexiÃ³n
    client.close()

ConexiÃ³n exitosa con MongoDB Atlas

In [222]:
import pandas as pd
from pymongo import MongoClient

dff = pd.read_csv('peliculas_clean.csv')

cliente = MongoClient("mongodb+srv://shazam:shazam123456@proyecto1.g6uwmfh.mongodb.net/")
db = cliente['proyecto']

nombre_coleccion = 'oscar_awards'

coleccion = db[nombre_coleccion]

registros = dff.to_dict(orient='records')

resultado = coleccion.insert_many(registros)

if len(resultado.inserted_ids) == len(registros):
    print("Â¡Los datos se han cargado correctamente en la nueva colecciÃ³n de MongoDB Atlas!")
else:
    print("Â¡Hubo un problema al cargar los datos en la nueva colecciÃ³n de MongoDB Atlas!")

Â¡Los datos se han cargado correctamente en la nueva colecciÃ³n de MongoDB Atlas!

In [223]:
from pymongo import MongoClient

# Configura la conexiÃ³n a tu base de datos de MongoDB Atlas
client = MongoClient("mongodb+srv://shazam:shazam123456@proyecto1.g6uwmfh.mongodb.net/")

# Selecciona la base de datos y la colecciÃ³n que deseas eliminar
db = client.proyecto
coleccion = db.peliculas_premiadas

# Elimina la colecciÃ³n
coleccion.drop()

print("La colecciÃ³n ha sido eliminada con Ã©xito.")

La colecciÃ³n ha sido eliminada con Ã©xito.

In [92]:
import pandas as pd

# Lee el archivo Excel
nombre_archivo_excel = 'peliculas.xlsx'  # Reemplaza 'archivo_excel.xlsx' con el nombre de tu archivo Excel
dataframe = pd.read_excel(nombre_archivo_excel)

# Guarda el DataFrame como un archivo CSV delimitado por comas
nombre_archivo_csv = 'pelis.csv'  # Nombre para el archivo CSV resultante
dataframe.to_csv(nombre_archivo_csv, index=False)

print(f'Se ha creado el archivo CSV: {nombre_archivo_csv}')

Se ha creado el archivo CSV: pelis.csv

In [90]:
pip install openpyxl

Collecting openpyxlNote: you may need to restart the kernel to use updated packages.

  Downloading openpyxl-3.1.2-py2.py3-none-any.whl.metadata (2.5 kB)
Collecting et-xmlfile (from openpyxl)
  Downloading et_xmlfile-1.1.0-py3-none-any.whl.metadata (1.8 kB)
Downloading openpyxl-3.1.2-py2.py3-none-any.whl (249 kB)
   ---------------------------------------- 0.0/250.0 kB ? eta -:--:--
   - -------------------------------------- 10.2/250.0 kB ? eta -:--:--
   ---- ---------------------------------- 30.7/250.0 kB 660.6 kB/s eta 0:00:01
   ----------- --------------------------- 71.7/250.0 kB 563.7 kB/s eta 0:00:01
   --------------------- ---------------- 143.4/250.0 kB 853.3 kB/s eta 0:00:01
   ------------------------------------ --- 225.3/250.0 kB 1.1 MB/s eta 0:00:01
   ---------------------------------------- 250.0/250.0 kB 1.1 MB/s eta 0:00:00
Downloading et_xmlfile-1.1.0-py3-none-any.whl (4.7 kB)
Installing collected packages: et-xmlfile, openpyxl
Successfully installed et-xmlfile-1.1.0 openpyxl-3.1.2